<figure class="md: flex flex-col bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <div class="md:flex flex-col justify-center items-center relative mb-6">
        <!--This is the whole form that has all the inputs to get the todo information-->
        <form class="w-full max-w-lg">
            <div class="flex flex-wrap -mx-3 mb-6">
                <!--This section holds the todo task title input form-->
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="inputTodoTitle">
                        Todo Task
                    </label>
                    <input *ngIf="!isFieldsEmpty()"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border py-3 px-4 mb-3 leading-tight focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="inputTodoTitle" type="text" placeholder="Add your task here!" [formControl]="inputTodoTitle"
                        required />
                    <input *ngIf="isFieldsEmpty()"
                        class="g-red-50 border border-red-500 text-gray-900 dark:text-white placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:placeholder-red-500 dark:border-red-500"
                        id="inputTodoTitleError" type="text" placeholder="Add your task here!"
                        [formControl]="inputTodoTitle" required />
                </div>

                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="inputTodoDueDateError">
                        Due Date
                    </label>
                    <input *ngIf="!isFieldsEmpty()"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="inputTodoDueDate" type="date" [formControl]="inputTodoDueDate" required />
                    <input *ngIf="isFieldsEmpty()"
                        class="g-red-50 border border-red-500 text-gray-900 dark:text-white placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:placeholder-red-500 dark:border-red-500"
                        id="inputTodoDueDateError" type="date" [formControl]="inputTodoDueDate" required />
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="inputTodoDescription">
                        Description
                    </label>
                    <textarea *ngIf="!isFieldsEmpty()" id="inputTodoDescription" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Add a description here for more information about your task."
                        [formControl]="inputTodoDescription" required>
                    </textarea>
                    <textarea *ngIf="isFieldsEmpty()" id="inputTodoDescriptionError" rows="4"
                        class="g-red-50 border border-red-500 text-gray-900 dark:text-white placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:placeholder-red-500 dark:border-red-500"
                        placeholder="Add a description here for more information about your task."
                        [formControl]="inputTodoDescription" required>
                    </textarea>
                </div>
            </div>
            <p *ngIf="isFieldsEmpty()" class="mt-2 text-sm text-red-600 dark:text-red-500"><span
                    class="font-medium">Oops!</span> All fields must be filled out!</p>
        </form>
        <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            (click)="addToTodoTask()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path
                    d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q65 0 123 19t107 53l-58 59q-38-24-81-37.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q32 0 62-6t58-17l60 61q-41 20-86 31t-94 11Zm280-80v-120H640v-80h120v-120h80v120h120v80H840v120h-80ZM424-296 254-466l56-56 114 114 400-401 56 56-456 457Z" />
            </svg>
            Add Task
        </button>
    </div>
    <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <mat-list class="text-lg font-medium">
            @for (indivTodoItem of todoTaskList(); track indivTodoItem) {
            <div
                class="block max-w-sm p-6 bg-slate-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><span
                        class="text-blue-700">Task: </span>
                    {{indivTodoItem.todoTitle}}</h2>
                <p class="font-normal text-gray-700 dark:text-white"><span class="text-red-500">Due:</span>
                    {{indivTodoItem.todoDueDate | date: 'mediumDate'}}</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{indivTodoItem.todoDescription}}</p>
                <div class="flex items-center mb-4">
                    <input id="checkbox" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mark
                        Completed</label>
                </div>
            </div>
            }
        </mat-list>
    </div>
</figure>