<div class="md:flex flex-col justify-center items-center bg-white dark:bg-slate-800 dark:text-white h-full">
    <h2>Create a new Task</h2>
    <mat-dialog-content>
        <p class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">New Todo Item</p>
        <div class="md:flex flex-row flex-wrap justify-around items-center">
            <mat-form-field>
                <mat-label>Todo Title</mat-label>
                <input matInput [(ngModel)]="newTodoTitle">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="newTodoDueDate" >
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Todo Description</mat-label>
                <textarea matInput [(ngModel)]="newTodoDesc" placeholder="Add extra description here..."></textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button"
        [mat-dialog-close]="{ todoTitle: newTodoTitle(), todoDate: newTodoDueDate(), todoDescription: newTodoDesc()}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path
                    d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q65 0 123 19t107 53l-58 59q-38-24-81-37.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q32 0 62-6t58-17l60 61q-41 20-86 31t-94 11Zm280-80v-120H640v-80h120v-120h80v120h120v80H840v120h-80ZM424-296 254-466l56-56 114 114 400-401 56 56-456 457Z" />
            </svg>
            Add Task
        </button>
        <!-- <button mat-button color= "primary" [mat-dialog-close]="{ todoTitle: newTodoTitle(), todoDate: newTodoDueDate(), todoDescription: newTodoDesc()}" >Ok</button> -->
      </mat-dialog-actions>
</div>
